{% extends "base.html" %}

{% block content %}
<form action="" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <p>
        {{ form.title.label }}<br>
        {{ form.title(class="form-control") }}<br>
        {% for error in form.title.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.location.label }}<br>
        {{ form.location(class="form-control") }}<br>
        {% for error in form.location.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.information.label }}<br>
        {{ form.information(class="form-control") }}<br>
        {% for error in form.information.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>{{ form.is_anon() }} {{ form.is_anon.label }}</p>
    <p>
        {{ form.image.label }}<br>
        {{ form.image(class="form-control-file") }}<br>
        {% for error in form.image.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
        <p>
        {{ form.color.label }}<br>
        {{ form.color(class="form-control") }}<br>
        {% for error in form.color.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <img src="{{ url_for('static', filename='./images/colors.jpg') }}" style="max-width: 200px; margin-bottom: 20px">
    <p>{{ form.submit(type="submit") }}</p>
    {{message}}
</form>
{% endblock %}